{{ template "header" .}}
{{ template "navbar" .}}

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
        {{ range .forms }}
            <div class="col my-3">
                {{ template "userCard" .}}
            </div>
        {{end}}
    </div>

{{ template "footer" .}}